<!-- should allow phrasing as content -->
<button type="button"><span>foo</span></button>

<!-- should allow phrasing as parent -->
<span><button type="button">foo</button></span>

<!-- should allow flow as parent -->
<span><button type="button">foo</button></span>

<!-- allowed boolean attributes -->
<button type="button" autofocus disabled>foo</button>

<!-- type variants -->
<button type="button">foo</button>
<button type="submit">foo</button>
<button type="reset">foo</button>

<!-- should allow aria-label -->
<button type="button">
	<i class="icon icon-foo" aria-label="foobar"></i>
</button>
