<!-- should omit end tag -->
<input type="text">

<!-- should allow attributes -->
<input type="text" autofocus>
<input type="text" capture>
<input type="text" checked>
<input type="text" disabled>
<input type="text" multiple>
<input type="text" readonly>
<input type="text" required>
<input type="text" inputmode="none">
<input type="text" inputmode="text">
<input type="text" inputmode="decimal">
<input type="text" inputmode="numeric">
<input type="text" inputmode="tel">
<input type="text" inputmode="search">
<input type="text" inputmode="email">
<input type="text" inputmode="url">
<input type="button">
<input type="checkbox">
<input type="color">
<input type="date">
<input type="datetime-local">
<input type="email">
<input type="file">
<input type="hidden">
<input type="image" alt="lorem ipsum">
<input type="month">
<input type="number">
<input type="password">
<input type="radio">
<input type="range">
<input type="reset">
<input type="search">
<input type="submit">
<input type="tel">
<input type="text">
<input type="time">
<input type="url">
<input type="week">
<input type="text" spellcheck="default">
<input type="text" spellcheck="false">
<input type="text" spellcheck="true">

<!-- should not be interactive when type is hidden -->
<button type="button">
	foo
	<input type="hidden">
</button>
