<!-- should allow option and optgroup -->
<select>
	<option></option>
	<optgroup>
		<option></option>
	</optgroup>
</select>

<!-- should allow script and template -->
<select>
	<script></script>
	<template></template>
</select>
